booking.dtd

<--Booking Class and relationships-->
<!DOCTYPE Booking[
<!ELEMENT Booking(Booking+)>
<!ATTLIST Booking bookingID CDATA #REQUIRED>
<!ELEMENT Booking(visitorID*,dateOfBooking*,Billing*,Visitor*)>
<!ELEMENT Billing(orderID*,orderDate*,amountPaid*)>
<!ELEMENT Visitor(name*,email*,visitorID*)>
<!ELEMENT visitorID (#PCDATA)>
<!ELEMENT dateOfBooking (#PCDATA)>
<!ELEMENT orderID (#PCDATA)>
<!ELEMENT orderDate (#PCDATA)>
<!ELEMENT amountPaid (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT visitorID (#PCDATA)>
]>